<style type="text/css">
body{ font-family:Verdana, Arial, serif; font-size:14px;}
</style>
<%= stylesheet_link_tag "colorbox.css" %>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script> 
<%= javascript_include_tag "jquery.colorbox-min.js" %>   
<script type="text/javascript">
    $(function()
    {
        $('#link1_content').colorbox({opacity:0.3});
    });
</script>
<script type="text/javascript">
    $(function()
    {
        $('#link2_content').colorbox({opacity:0.3});
    });
</script>
<script type="text/javascript">
    $(function()
    {
        $('#link3_content').colorbox({opacity:0.3});
    });
</script>
</head>
<body>  
  <table>
  	<tr><td><%= render 'case_general'%></td><td><%= render 'case_info'%></td></tr>
 	<tr><td><%= render 'response_general'%></td><td><%= render 'response_info'%></td></tr>
  </table>

  <div class="domtab">
	 <ul class="domtabs">
		<li><a href="#what">Detail<!--<%= render 'case_general'%>--></a></li>
		<li style="margin-left: 5px;"><a href="#how">Reply<!--<%= render 'response_general'%>--></a></li>
		<% if @responses.count>0 %>	
	    <% num = 1%>
	    <script type="text/javascript">
	    	var tabname = <%= @responses %>;
	    	openPage = Function(){
	    		location.href = "#"+tabname;
	    	}
	    </script>
			<% @responses.each do |response|%>					
			<li style="margin-left: 5px;">	
			<a href="javascript:openPage()"><%= response.case_id%></a>
			<% num=num+1%>
			</li>
			<% end %>
		<% end %>
	 </ul>
	<div class="domtab-content">
		<a href="what" id="what"></a>
		<p><%= render 'case_info'%></p>
		<% if @case.attachment.nil? || @case.attachment==""%>
		<p>No any attached file</p>
		<% end %>
		</div>
	
		<% if @responses.count>0 %>
		    <% num = 1%>
		    <script type="text/javascript">
	    	var tabname = <%= @response %>;
	    	openPage = Function(){
	    		location.href = tabname;
	    	}
	        </script>
			<% @responses.each do |response|%>	
			<div class="domtab-content">
		      <a href="javascript:openPage()"></a>			
			  <p><%= response.response_content%></p> 
			  <% num=num+1%> 
			  </div>
 			<% end %>          		
		<% end %>
	
  </div><!-- end of domtab -->

